#taskName, #projectName, #startButton, .running-task, .stopButton, .startButton, #noteSelector, .date-range input[type="date"],
.autocomplete-list, #completedTasks table, #completedTasks th, #completedTasks td {
    border-color: rgb(118, 118, 118);
    font-size: var(--joplin-font-size);
}

body {
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

#timeTracker {
    font-family: Avenir, Arial, sans-serif;
    font-size: var(--joplin-font-size);
    max-height: calc(100vh - 20px); /* Adjust if needed */
}

.input-group {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    position: relative;
}

#taskName, #projectName {
    width: 46%;
    min-height: 23px;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
}

#startButton {
    width: 18%;
    min-height: 23px;
    cursor: pointer;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-width: 1px;
    border-radius: 3px;
    border-spacing: 5px;
    border-style: solid;
}

#startButton:hover {
    background-color: var(--joplin-background-color-hover3);
}

#errorMessage {
    color: red;
    margin-bottom: 5px;
    font-size: var(--joplin-font-size);
}

#runningTasks {
    overflow-y: auto;
    font-size: var(--joplin-font-size);
    box-sizing: border-box;
}

.running-task {
    margin-bottom: 5px;
    padding: 5px;
    background-color: var(--joplin-background-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.2s, border-color 0.2s;
}

.running-task-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
}

.running-task-title-container {
    display: flex;
    flex-direction: column;
}

.running-task-title {
    font-weight: bold;
}

.running-task-project {
    font-size: calc(var(--joplin-font-size) * 0.8);
    color: var(--joplin-color-faded);
}

.running-task-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.running-task-start-time {
    flex: 1;
    text-align: left;
}

.running-task-duration {
    flex: 1;
    text-align: right;
}

.stopButton {
    padding: 3px 8px;
    background-color: var(--joplin-background-color);
    color: var(--joplin-color);
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    cursor: pointer;
}

.stopButton:hover {
    background-color: var(--joplin-background-color-hover3);
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-corner {
    background: none;
}

::-webkit-scrollbar-track {
    border: none;
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.3);
    border-radius: 5px;
}

::-webkit-scrollbar-track:hover {
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(100, 100, 100, 0.7);
}

#completedTasks {
    margin-top: 0px;
}

#completedTasks table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    overflow: hidden;
}

#completedTasks th, #completedTasks td {
    padding: 5px;
    text-align: left;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

#completedTasks tr:last-child td {
    border-bottom: none;
}

#completedTasks th {
    background-color: var(--joplin-background-color-hover3);
    font-weight: bold;
}

#completedTasks tr:nth-child(even) {
    background-color: var(--joplin-background-color);
}

#completedTasks tr:nth-child(odd) {
    background-color: var(--joplin-background-color3);
}

.startButton {
    padding: 3px 8px;
    background-color: var(--joplin-background-color);
    color: var(--joplin-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.startButton:hover {
    background-color: var(--joplin-background-color-hover3);
}

.autocomplete-list {
    position: absolute;
    border-width: 1px;
    border-style: solid;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    padding: 0;
    max-height: 150px;
    overflow-y: auto;
    background-color: var(--joplin-background-color);
    box-shadow: 0 2px 5px rgba(180, 180, 180, 0.2);
    margin-top: -1px;
}

.autocomplete-list li {
    padding: 5px;
    cursor: pointer;
    background-color: var(--joplin-background-color);
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.autocomplete-list li:last-child {
    border-bottom: none;
}

.autocomplete-list li:hover,
.autocomplete-list li.selected {
    background-color: var(--joplin-background-color-hover3);
}

.autocomplete-list li.selected {
    background-color: var(--joplin-background-color-hover3);
}

.autocomplete-list li:not(.selected) {
    background-color: var(--joplin-background-color);
}

#noteSelector {
    width: 100%;
    min-height: 23px;
    padding: 0 5px;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    font-family: Avenir, Arial, sans-serif;
    font-size: var(--joplin-font-size);
}

/* Date range filter styles */
.date-range {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    gap: 5px;
}

.date-range input[type="date"] {
    flex: 1;
    min-height: 23px;
    padding: 0 5px;
    color: var(--joplin-color);
    background-color: var(--joplin-background-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
    font-family: Avenir, Arial, sans-serif;
    font-size: var(--joplin-font-size);
}